
#main{
    display: flex;
    flex-direction: column;
}
#head{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    align-self: center;
}
input{
    width: 480px;
     padding: 10px 0px 10px 20px
}
#head>button{
    width: 500px;
}
#filters{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 500px;
}
#filters>button{
    width: 150px;
}
#remain{
    display: flex;
    width: 500px;
    align-self: center;
}
#remain>p{
    margin: 10px 10px 10px 30px;
}
#todoitemmain{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid gray;
    margin-bottom: 5px;
}
#text{
    display: flex;
    flex-direction: row;
    height: 75px;
}
#text>input{
    width: 40px;
    height: 50px;
    margin-left: 25px;
    margin-top: 10px
}
#text>p{
    margin-left: 20px;
    font-size: 3em;
}
#buttons{
    display: flex;
    justify-content: space-around;
}
#buttons>button{
    width: 200px;
}
#todos{
    align-self: center;
}